html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.all-button {
  background-color: black;
  padding: 7px 15px;
  color: white;
}

.container {
  background-color: #080a14;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px #1db8fd;
  background-color: #080a14;
  border-radius: 20px;
  padding: 20px;
  width: 600px;
  height: 450px;
}
.card-timer {
  display: flex;
  gap: 25px;
  background-color: black;
  color: white;
  padding: 30px 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px #1db8fd;
  .spanTimer {
    font-size: 50px;
    color: #1db8fd;
  }
}

.cardButton {
  padding: 0 50px;
  margin-top: 100px;
  display: flex;
  gap: 50px;
  button {
    min-width: 130px;
    height: 40px;
    font-size: 15px;
    background-color: #080a14;
    border: 2px solid white;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    color: #1db8fd;
    box-shadow: 0 0 15px #1db8fd;
    transition: 0.4s;

    &:hover {
      box-shadow: 0 0 25px #1db8fd;
      background-color: #1db8fd;
      color: white;
      transition: 0.4s;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
